@import url(styles.css);

section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh;
}

form {
    position: relative;
}

input {
    margin-block: 2rem;
    width: 28vw;
    height: 5vh;
    border: solid 1px var(--color-secundario);
    border-radius: 2rem;
    padding: 0 3rem;
    font-size: medium;
    box-shadow: 0px 0px 1px black;
    display:inline-block;
}

input:hover,
input:focus {
    border-color: var(--color-primario);
    box-shadow: 0px 0px 1px black;
}

input:hover,
input:focus,
input:hover ~ svg,
input:focus ~ svg {
    background-color: var(--color-primario);
    outline: none;
}

.search,
.camera,
.microphone {
    position: absolute;
    display:inline-block;
    width: auto;
    height: 20%;
    top:41%;
}

.search {
    fill: var(--color-secundario);
    left: 3%;
}

.camera {
    right: 3%;
}

.microphone{
    right: 9%;
}

section div {
    display: flex;
}

div a {
    font-size: medium;
    margin-inline: 1rem;
    text-decoration: none;
    background-color: var(--color-primario);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    border: solid 0.5px transparent;
}

div a:hover {
    border-color: var(--color-secundario);
}

p { 
    margin-block: 2rem;
    font-size: smaller;
}
 
p span {
    color: #2d80c0;
}

p span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.images {
    color: #4487f6;
    position: absolute;
    margin-bottom: 30px;
    margin-left: 215px;
    z-index: 1;
}